@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    color: #09090b;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.shiki { 
  counter-reset: step;
  counter-increment: step 0;
  .line {
    &::before {
      counter-increment: step;
      @apply mr-6 inline-block w-4 border-transparent text-right text-neutral-500 content-[counter(step)];
    }
  }
}